pandas>=1.1.5
numpy>=1.18.1
git+https://github.com/hms-dbmi/pic-sure-python-adapter-hpds.git
git+https://github.com/hms-dbmi/pic-sure-python-client.git
git+https://github.com/hms-dbmi/pic-sure-biodatacatalyst-python-adapter-hpds
statsmodels>=0.12.2
scipy>=1.4.1
pyyaml>=5.4.1
matplotlib>=3.1.3